:root {
    --green-color: #2AB0A1;
    --milk-color: #fcfcfc;
    --dark-color: #212026;
    --white-color: #ffffff;
    --transition-out: all 0.2s ease-in-out;
    --transition-in: all 0.2s ease-in;
    --font: 'Roboto', sans-serif, 'Open Sans';
  }
  
  #error {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--green-color);
    font-weight: bold;
  }
  
  /* estilos para el formulario */
  .form {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  /* estilos para las etiquetas */
  .form-1 section div label {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
    transition: var(--transition-out);
    width: 100%;
  }
  
  /* estilos para los campos de entrada */
  .form-1 section div select,
  .form-1 section div input[type="text"],
  .form-1 section div input[type="email"],
  .form-1 section div input[type="password"],
  .form-1 section div textarea {
    font-family: var(--font);
    font-size: 1rem;
    color: var(--dark-color);
    background-color: var(--milk-color);
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    margin-top: 0.5rem;
    transition: var(--transition-out);
    width: 100%;
    
  }

  textarea{
    resize: none;
  }
  
  /* estilos para el botón de enviar */
  .form-1 section #bottom {
    background-color: var(--green-color);
    color: var(--white-color);
    font-family: var(--font);
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    transition: var(--transition-out);
    cursor: pointer;
    width: 100%;
  }
  
  /* estilos para el botón de enviar al pasar el cursor */
  .form-1 section #bottom:hover {
    background-color: var(--white-color);
    color: var(--green-color);
    transition: var(--transition-in);
    border: 2px solid var(--green-color);
  }
  
  /* estilos para los mensajes de retroalimentación */
  .form-1 section div .valid-feedback,
  .form-1 section div .invalid-feedback {
    font-family: var(--font);
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }
  
  /* estilos para los mensajes de retroalimentación cuando el campo es válido */
  .form-1 section div .valid-feedback {
    color: var(--green-color);
  }
  
  /* estilos para los mensajes de retroalimentación cuando el campo no es válido */
  .form-1 section div .invalid-feedback {
    color: red;
  }
  
  /* estilos para el select */
  .form-1 section div select {
    appearance: none;
    background-color: var(--milk-color);
/*     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23BFBFBF' d='M0 2l4 4 4-4H0z'/%3E%3C/svg%3E"); */
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.75rem);
    background-position-y: center;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .form{
      width: 100% !important;
    }
    /* Estilos para las etiquetas */
    .form-1 section div label {
      font-size: 0.8rem;
    }
  
    /* Estilos para los campos de entrada */
    .form-1 section div select,
    .form-1 section div input[type="text"],
    .form-1 section div input[type="email"],
    .form-1 section div input[type="password"],
    .form-1 section div textarea {
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  
    /* Estilos para el botón de enviar */
    .form-1 section #bottom {
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  
    /* Estilos para los mensajes de retroalimentación */
    .form-1 section div .valid-feedback,
    .form-1 section div .invalid-feedback {
      font-size: 0.6rem;
    }
  }
  


  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para las etiquetas */
    .form-1 section div label {
      font-size: 0.9rem;
    }
  
    /* Estilos para los campos de entrada */
    .form-1 section div select,
    .form-1 section div input[type="text"],
    .form-1 section div input[type="email"],
    .form-1 section div input[type="password"],
    .form-1 section div textarea {
      font-size: 0.9rem;
    }
  
    /* Estilos para el botón de enviar */
    .form-1 section #bottom {
      font-size: 0.9rem;
    }
  
    /* Estilos para los mensajes de retroalimentación */
    .form-1 section div .valid-feedback,
    .form-1 section div .invalid-feedback {
      font-size: 0.7rem;
    }
  }
  