:root {
  --green-color: #2AB0A1;
  --milk-color: #fcfcfc;
  --dark-color: #212026;
  --white-color: #ffffff;
  --transition-out: all 0.2s ease-in-out;
  --transition-in: all 0.2s ease-in;
  --font: 'Roboto', sans-serif, 'Open Sans';
}
.container-faq {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  font-family: var(--font);
}

.container-faq h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.accordion {
  background-color: var(--milk-color);
  color: var(--dark-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: var(--transition-out);
  margin-bottom: 10px;
}

.accordion:hover,
.accordion.active {
  background-color: var(--green-color);
  color: var(--milk-color);
  transition: var(--transition-in);
}

.panel {
  padding: 0 18px;
  background-color: var(--white-color);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 0;
}

.panel p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 10px;
}

/* Pantallas de 601px a 1024px */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

.container-faq {
  max-width: 100%;
  padding: 20px;
  font-size: 1.2rem;

  line-height:1.7rem;


}
.container-faq h1 {
  font-size: 2.5rem;
}
.accordion {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.panel p {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

/*   FORM BSUQUEDA*/
.container-faq form {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}

.container-faq form input[type="text"] {
width: 60%;
margin-right: 10px;
}

.container-faq form input[type="submit"] {
padding: 10px 20px;
background-color: var(--dark-color);
border: 1px solid #ccc;
font-size: 1.2em;
cursor: pointer;
}

header picture img {
  margin: 0 1rem!important;
  /* width: 100px; */
}

}

/* Pantallas de hasta 600px */
@media only screen and (max-width: 600px) {

.container-faq {
  max-width: 90%;
  padding: 15px;
  font-size: 1.1rem;
  line-height:1.7rem;
}
.container-faq h1 {
  font-size: 2rem;
  margin:3rem 0;
}
.accordion {
  padding: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.panel p {
  font-size: 1.1rem;
  line-height: 1.3rem;

}
/*   FORM BSUQUEDA*/
.container-faq form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.container-faq form input[type="text"] {
  width: 70%;
  margin-right: 10px;
}

.container-faq form input[type="submit"] {
  padding: 10px;
  background-color: var(--dark-color);
  border: 1px solid #ccc;
  font-size: 1em;
  cursor: pointer;
}

}